$mycolor-1:#250BC6;
$mycolor-2:#E81F25;
$mycolor-3:#02296D;
$mycolor-4:#FFFFFF;
$mycolor-5:#D8D8D8;

$theme-colors:(
    "my-color-1": $mycolor-1,
    "my-color-2": $mycolor-2,
    "my-color-3": $mycolor-3,
    "my-color-4": $mycolor-4,
    "my-color-5": $mycolor-5

);

$body-bg:$mycolor-4;


@import'../node_modules/bootstrap/scss/bootstrap';


.top{
    width: 100%;
    margin-left: 4px;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-top{
    background-image: url(/css/img/inicial2.webp);
    background-position: center;
    width: 100%;
    height: 50px;
    margin: auto;
    display: block;
    object-position: 50%, 50%;
}

.menu-1{
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-left: 3px;
    
    background-color: $mycolor-5;
    color: $mycolor-2;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 12px;
}


.card-menu-1{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;

    width: 100px;
    height: 35px;
    margin-left: 140px;
    border-radius: 5px 5px 0px 0px;
    background-color: $mycolor-4;
}

.card-menu1-icon{
    width: 15px;
    height: 15px;
    margin-right: 3px;
    color: $mycolor-2;
}

.search{
    display: grid;
    height: 48px;
    margin-top: 6px;
    display: flex;
    justify-content:left;
    align-items: left;
}

.img-logo{
    width: 20px;
    height: 20px;
    margin: auto;
    display: block;
}

.form-search{
    width: 800px;
    height: 40px;

    margin-left: 40px;
    border-color: $mycolor-1;
    border-width: 1px;
}


.btn-search{
    width: 60px;
    color: $mycolor-4;;
    background-color: $mycolor-1;
    border-radius: 0px 5px 5px 0px;
}

.nav{
    width: 100%;
    height: 40px;
}

.logo-nav{
    margin-top: 5px;
    max-width:153px;
    max-height:29px;
    width: auto;
    height: auto;
}


.banner{
    width: 1200px;
    height: 90px;
}

.img-banner{
    background-image: url(/css/img/banner2.webp);
   
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}

.space{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    height: 70px;
    margin-left: 100px;
    
}

.space2{
    height: 30px;
}

.retornoCep{
    width: 0px;
    height: 0px;
    font-size: 11px;
    height: 0;
    padding-top: 20px;
    color:$mycolor-2;
    
}

.link-alterar{
    padding-top: 30px;
    margin-left: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-size: 14px;
    text-decoration: none;
}

.row-carrousel{
    width: 1178px;
    height: 400px;
    
}

.img1-carrousel{
    background-image: url(/css/img/carrosel-oferta1.webp)
}

.centralizando{
       
    margin-left: 80px;
 }

.carrousel-size{
    
    padding-top: 10px;
      
}

.produtos{
    width: 100%;
    height: auto;
    justify-content: left;
    align-items: baseline;
    margin-right    : 500px;
}

@media (max-width : 820px){
    .top{
        width: 760px;
    }

    .img-top{
        background-image: url(/css/img/inicial.gif);
        background-position: center;
        width: 100%;
        height: 80px;
        margin: auto;
        display: block;
        object-position: 50%, 50%;
    }

    .menu-1{
        width: 800px;
        height: 40px;
    }

    .form-search{
        width: 500px;
    }

    .nav{
        width: 750px;
        height: 40px;
    }
    .space{
        width: 600px;
    }

    .retornoCep{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100px;
    }
   
    .img-banner{
        width: 600px;
        height: 90px;
        background-image: url(/css/img/banner2.gif);
        background-position: center center;
    }

    .centralizando{
        width: 600px;
        margin-left: 80px;
     }

     .row-carrousel{
        width: 600px;
        
    }
}
@media(max-width : 400px){
   
    .top{
        width: 345px;
    }

    .img-top{
        width: 360px;
        height: 80px;
        margin-left: 0px;
        background-image: url(/css/img/inicial.gif);
        background-position: center center;
    }

    .menu{
        width: 360;
        height: 40px;
    }
    .menu-1{
        width: 360px;
        height: 40px;
    }

    .card-menu-1{
        margin-left: 50px;
    }

    .search{
        display: grid;
        justify-content: center;
        align-items: center;

        height: 100px;

    }

    .form-search{
        margin-left:0px;
    }

    .form-search{
        width: 200px;
    }

    .btn-search{
        margin-right: 100px;
    }

    .nav{
        width: 336px;
        height: 30px;
        margin-left: 0px;
    }

    .space{
        width:360px;
        display: flex;
        justify-content: left;
        height: 30px;
        margin-left: 0px;        
    }

    .banner{
        width: 360px;
        padding-bottom: 100px;
    }

    .img-banner{
        width: 336px;
        height: 100px;
        margin-left: 10px;
        background-image: url(/css/img/banner2.gif);
        background-position: center center;
    }
    
    .retornoCep{
        
        font-size: 12px;
        padding-top: 3px;
        margin-left: 10px;
    }

    .link-alterar{
        padding-top: 0px;
        margin-left: 90px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        font-size: 14px;
        text-decoration: none;
    }

    .row-carrousel{
        width: 336px;
        height: 100px;
        margin-left: 10px;
    }

    .centralizando{
       width: 360px;
       margin-left: 0px;
    }
    
}

